{% extends "layout.html" %}
{% block content %}

<div class="container main-content project-div">
	<div style="display: flex; justify-content: space-between; align-items: center;">
		<h1 style="margin-bottom: 0;">{{ project.title }}</h1>
		<p style="margin-top: 0;"><a href="{{ project.url }}">View project on Github</a></p>
	</div>
	<p>{{ project.description }}</p>
</div>


<div class="container main-content project-div">
	<h3>Overview</h3>
	<p>{{ project.overview|replace("\n", "<br>")|safe }}</p>
</div>

<div class="container main-content project-div">
	<h3>Code Examples</h3>
	<pre><code>{{ project.code_example }}</code></pre>
</div>

<div class="container main-content project-div" id="chatbox">
	<div class="row">
		<div class="col-md-12">
			<form>
				<div class="input-group" id="textarea-group">
					<textarea class="form-control textarea-dark" id="message" rows="2"
						placeholder="Ask me a question! (Still under development)"></textarea>
					<div class="input-group-append">
						<button type="submit" class="btn btn-info btn-smaller">Chat</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

<script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>

<script>
	var socket = io.connect('http://' + document.domain + ':' + location.port);

	document.querySelector('form').addEventListener('submit', function(e) {
		e.preventDefault();
		var inputField = document.querySelector('#message');
		var msg = inputField.value;
		inputField.value = '';
		socket.emit('message', msg);
	});

	socket.on('message', function(msg) {
		var chatBox = document.querySelector('#chatbox');
		var paragraph = document.createElement('p');
		paragraph.textContent = msg;
		chatBox.append(paragraph);
	});
</script>

{% endblock %}