{% extends "layout.html" %}
{% block content %}
<div class="container" style="display: flex; justify-content: space-between; align-items: center;">
    <h1>{{ project.title }}</h1>
    <p><a href="{{ project.url }}">View project on Github</a></p>
</div>
<div class="container">
    <p>{{ project.description }}</p>
    <h3>Overview</h3>
    <p>{{ project.overview|replace("\n", "<br>")|safe }}</p>
    <h3>Code Examples</h3>
    <pre><code>{{ project.code_example }}</code></pre>
</div>
{% endblock %}
